{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank you for waiting. Unfortunately, not enough players turned up.
{% endblock %}

{% block content %}
    <p><h4> We will transfer your waiting payment of $0.30 within the next 24 hours.</h4> </p>
        <p><strong>Your payment will be credited directly to your account using the MTurk ID you gave us, without having to submit the HIT.</strong></p>
        <p>Please try to play the game again at a later time. We tend to get enough players most days. </p>
        <p><strong> Now, please return the HIT. </strong></p>
        <p> Thank you for your time!</p>
{% endblock %}

